<form action="/movies" method="POST">
<label for="title">Title:</label>
<input type="text" name="title" id="title" value="">

<label for="genre">Genre:</label>
<input type="text" name="genre" id="genre" value="">

<label for="plot">Plot:</label>
<input type="text" name="plot" id="plot" value="">



  <h2>Mark the cast:</h2>
  <select name="cast" id="cast" value="" multiple>
{{#each celebrities}}
  <option value="{{_id}}">{{name}}</option>
  {{/each}}
  </select>





  <button type="submit">Add movie</button>
</form>